div#site-nav.site-title-links
    ul
        li
            if is_home()
                a.current(href=config.root)= __('Home')
            else
                a(href=config.root)= __('Home')
        li
            if is_archive()
                a.current(href=config.root + config.archive_dir)= __('Archive')
            else
                a(href=config.root + config.archive_dir)= __('Archive')
        - if (site.categories.length > 0) {
        li
            if is_current('categories/')
                a.current(href=config.root + config.category_dir)= __('Categories')
            else
                a(href=config.root + config.category_dir)= __('Categories')
        - }
        - if (site.tags.length > 0) {
        li
            if is_current('tags/')
                a.current(href=config.root + config.tag_dir)= __('Tags')
            else
                a(href=config.root + config.tag_dir)= __('Tags')
        - }
        include ../mixins
        +make_page_links()
        li.soc
            +makeNav()
    div.visible-lg.visible-md.visible-sm.site-nav-footer
        br.site-nav-footer-br
        include footer
